.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  &-container {
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  &-title {
    // @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    text-align: left;
  }

  li {
    // @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    display: block;
    padding: 20px 0;
    color: $default-color;
    font-family: $sans-serif;
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
